@model ProductSearchInput

@{
    ViewBag.Title = "Quản lý Mặt hàng";
}

@section PageToolBar {
    <a href="~/Product/Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>
        Bổ sung
    </a>
}

<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch"
              method="get"
              action="~/Product/Search"
              data-target="searchResult"
              onsubmit="paginationSearch(event, this, 1)">

            <input type="hidden" asp-for="PageSize" />

            <div class="row g-2">
                <div class="col-md-3">
                    <label class="form-label">Loại hàng</label>
                    <select class="form-select"
                            asp-for="CategoryID"
                            asp-items="await SelectListHelper.Categories()">
                    </select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Nhà cung cấp</label>
                    <select class="form-select"
                            asp-for="SupplierID"
                            asp-items="await SelectListHelper.Suppliers()">
                    </select>
                    <span asp-validation-for="SupplierID" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Khoảng giá</label>
                    <div class="input-group">
                        <input asp-for="MinPrice"
                               type="number"
                               class="form-control money-input"
                               placeholder="Từ" />

                        <span class="input-group-text">-</span>

                        <input asp-for="MaxPrice"
                               type="number"
                               class="form-control money-input"
                               placeholder="Đến" />
                    </div>

                    <span asp-validation-for="MinPrice" class="text-danger"></span>
                    <span asp-validation-for="MaxPrice" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Tên mặt hàng</label>
                    <div class="input-group">
                        <input asp-for="SearchValue"
                               class="form-control"
                               placeholder="Tên mặt hàng..." autofocus />
                        <button type="submit" class="btn btn-info d-flex align-items-center">
                            <i class="bi bi-search me-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="searchResult"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paginationSearch(null, document.getElementById("formSearch"), @Model.Page);
        });
    </script>
}